*.wav
venv/
.DS_Store
c.py
__pycache__/

!1-18655-A-31.wav
!68DacKw1hlE_80.000.wav
!1-51035-A-16.wav
!New Recording 2.wav
!-BqpAyCLh7U_450.000.wav
!New Recording 12.wav
!-KaRoM5LnHc_30.000.wav
!Silent 9.wav